---
import Layout from '../layouts/Layout.astro'; 
---

<Layout title="About | Lobster Logic Solutions, LLC">
	<main>
		<section>
            <h1>About Us</h1>
            <p>At Lobster Logic Solutions, we bring together years of experience and a deep understanding of cutting-edge technology to help businesses thrive in today's competitive landscape. Based in Maine, we are a small but dedicated team providing expert guidance, tailored advice, and innovative solutions for businesses of all sizes, with a special focus on Maine's unique business environment.</p>
            <p>We specialize in building web applications, mobile applications, and custom software solutions, using the latest technologies to create secure, scalable systems. Whether you're modernizing your existing infrastructure or looking to build something entirely new, we'll work closely with you every step of the way, ensuring the solution aligns with your goals and your budget.</p>
            <p>Our approach is deeply rooted in understanding the needs of Maine's businesses, but our expertise goes far beyond local boundaries to industry leading companies in consumer goods, healthcare, and Artificial Intelligence. With all of the capabilities and experience of a big agency, with a small-business sensibility, we aim to bring enterprise quality solutions to the businesses that drive Maine's economy.</p>
            <p>At Lobster Logic Solutions, we believe that technology should work for you—not the other way around. By combining our industry knowledge with a flexible, forward-thinking approach, we ensure that your business has the tools it needs to succeed, now and in the future.</p>
            <p>Let's build something great together.</p>
        </section>
	</main>
</Layout>