:root {
    --color-primary: #002639;
    --color-secondary: #19A48D;
    --color-accent-primary: #f0f4f8;
    --color-accent-secondary: #ffd166;
    --color-accent-tertiary: #ff6b6b;
    --color-neutral-primary: #ffffff;
    --color-neutral-secondary: #333333;
}