:root {
    --spacing-0: 0px;
    --spacing-25: .25rem;
    --spacing-50: .5rem;
    --spacing-75: .75rem;
    --spacing-100: 1rem;
    --spacing-125: 1.25rem;
    --spacing-150: 1.5rem;
    --spacing-175: 1.75rem;
    --spacing-200: 2rem;
    --spacing-250: 2.5rem;
    --spacing-300: 3rem;
    --spacing-350: 3.5rem;
    --spacing-400: 4rem;
    --spacing-450: 4.5rem;
    --spacing-500: 5rem;
}